html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#header {
  background-image: url("header.png"); /* image background */
  padding: 20px 5px; /* Some padding */
  color: white;
  text-align: center; /* Centered text */
  font-size: 20px; /* Big font size */
  font-weight: bold;
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}